html, body {
  width: 100px;
}

.hidden {
  display: none;
}

.timer, button {
  border: none;
  width: 100%;
  margin: 3% auto;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  border-radius: 4px;
}

.timer {   
  background-color: #d36860;
  padding-top: 4px; 
  padding-bottom: 4px;
}

button {
  cursor: pointer;
  background-color: #E5F2F2;
  padding: 4px;

}

button:hover {
  background-color: #CFF2F2;
}

button[type="reset"] {
  background-color: #FBFBC9;
}

button[type="reset"]:hover {
  background-color: #EAEA9D;
}